@charset 'utf-8';
@import "normalize","mixin","comm";
@include normalize();

$green:#49b571;

body{
	font-family:"Microsoft YaHei","微软雅黑","黑体","宋体"
}

.banner{
	overflow:hidden;	
	height:640px;
	background:url(../images/banner.jpg) top center no-repeat;	
	.btns{
		display:flex;
		justify-content:space-between;
		margin: 448px auto;
		width:748px;
		height:50px;
		a{
			display:flex;
			justify-content:center;
			align-items:center;
			width: 188px;
			height:48px;
			border:1px solid $green;
			color:$green;
			border-radius:8px;
			&:hover{
				background:$green;
				color:#fff;
			}
		}
	}
}
.mui{
	overflow:hidden;	
	height:867px;
	background:url(../images/mui.jpg) top center no-repeat;	
	.btns{
		position: absolute;
		&.know{
			top:432px;
		}
		&.asks{
			top:666px;
		}
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:space-between;
		width: 418px;
		height: 136px;
		a{
			width: 196px;
			height: 48px;

		}
	}
}
.stu-bg{		
	height:1351px;
	background:url(../images/stu-bg.jpg) top center no-repeat;	
	.stu{
		overflow:hidden;
		height:100%;
		background:url(../images/stu.png) top center no-repeat;	

		.item{
			overflow:hidden;
			position: relative;
			height:486px;
			&.stu-1{
				margin-top: 282px;
			}
			a{
				display:inline-block;
				width: 274px;
				height: 48px;
				&.method{margin-top:392px;margin-left: 327px; margin-right: 88px;}
			}
			&.stu-2{
				a.method{
					margin-top: 420px;
				}
			}
		}
	}
}
.questions{
	overflow:hidden;
	height:889px;
	background:url(../images/questions.png) top center no-repeat;	
	.questions-list{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;		
		height:500px;
		margin-top: 311px;
		a{
			width: 537px;
			height: 96px;
		}

	}
}

.stu-course-bg{		
	height:931px;
	background:url(../images/stu-course-bg.jpg) top center no-repeat;	
	.stu-course{
		overflow:hidden;
		height:100%;
		background:url(../images/stu-course.png) top center no-repeat;	
		ul{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;		
			height:526px;
			margin-top: 330px;
			li{
				overflow:hidden;
				width: 306px;
				height: 204px;
				a{
					display:inline-block;
					width: 198px;
					height: 40px;
					margin:138px 0 0 56px;
				}
			}

		}
	}
}
.form{
	height:916px;
	.form-top{
		height:336px;
		background:url(../images/form-top.png) top center no-repeat;	
	}
	.form-middle{			
		
		
		
		dl{			
			height: 78px;
		}
		dt{			
			display: inline-block;
			width: 	172px;
			font-size: 18px;
			line-height:42px;
			color:#434a4d;
		}
		dd{
			display: inline-block;
			margin-right: 11px;
			margin-left: 0;
			&:last-child{
				margin-right: 0
			}
			
			
			input{
				display:none;
				&:checked+label{					
					color:#fff;
					background:$green;
				}
			}
			label{
				
				display:inline-block;
				width: 136px;
				height:40px;	
				line-height: 40px;
				text-align:center;
				font-size: 18px;
				color:#dedada;
				border:1px solid #dedada;		
				border-radius:6px;	
				cursor: pointer;
			}
		}
	
	}
	.form-footer{
		overflow:hidden;
		a{
			display: block;
			width: 332px;
			height: 50px;
			margin:0 auto;
			border-radius:10px;
			text-align:center;
			line-height:50px;
			color:#fff;
			background: $green;
		}
	}
}
.whyfy{
	height:833px;
	background:url(../images/whyfy.jpg) top center no-repeat;	
}
.methods{
	height:864px;
	background:url(../images/methods.png) top center no-repeat;	
}
.parter{
	overflow:hidden;
	height:1070px;
	background:url(../images/parter.jpg) top center no-repeat;	
	.btns{
		display:flex;
		justify-content:space-between;
		margin: 902px auto;
		width: 519px;
		height: 50px;
		a{
			width: 200px;
			height: 50px;
		}
	}
}
.footer{
	height:379px;
	background:url(../images/footer.jpg) top center no-repeat;	
}